* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
lang/vi.json text eol=lf
package.json text eol=lf
public/css/style.css text eol=lf
public/js/app.js text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
